<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMUFNVK-eotBjAZcfKLhl9E-l4l-yjQpo</string>
	<key>GCM_SENDER_ID</key>
	<string>125440983064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondServingFrontend</string>
	<key>PROJECT_ID</key>
	<string>secondserving-app</string>
	<key>STORAGE_BUCKET</key>
	<string>secondserving-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125440983064:ios:692114c1063eaf4baf836d</string>
</dict>
</plist>